

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.hero-unit {
	background-image: url(../img/BTV.jpg);
	background-repeat: no-repeat;
	background-position: center; 
}

.nav-header {
	background: black;
}

.navbar-inner{
	
}

body{
	background-image: url(../img/textured_paper.png);
	background-repeat: repeat;
}

@media screen and (max-width:635px) {

	.hero-unit {
		background-image: none;
	}
}

@media screen and (max-width:988px) {

	.hero-unit {
		background-position: right center; 
	}
}













